
    /* user styles */

    /* styles are what change the color and sizes of stuff on your site. */

    /* these are variables that are being used in the code
these tended to confuse some people, so I only kept 
the images as variables */

:root {
    --header-image: url('./data/ezgif-1-5ef4459c5c.gif');
    --body-bg-image: url('./data/purplegalaxy.png');

    /* colors */
    --content: #43256E;
    
}

/* if you have the URL of a font, you can set it below */
/* feel free to delete this if it's not your vibe */

/* this seems like a lot for just one font and I would have to agree 
but I wanted to include an example of how to include a custom font.
If you download a font file you can upload it onto your Neocities
and then link it! Many fonts have separate files for each style
(bold, italic, etc. T_T) which is why there are so many!

*/

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
}
@font-face {
    font-family: Bit3;
    src: url('./data/ambitsek.ttf');
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Nunito;
    src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}



body {
    text-shadow: 0 0 10px #ff72f8c5;
    /*font-family: 'Nunito', sans-serif;*/
    font-family: Bit3;
    margin: 0;
    background-color: #08031A;
    /* you can delete the line below if you'd prefer to not use an image */
    background-size: 65px;
    color: #fceaff;
    /*background-image: var(--body-bg-image);*/
    float:middle;
}

* {
    box-sizing: border-box;
}

#left-image {
position: absolute; 
left: 0;
top: 0;
height: 100%;
z-index: -1;
}


#line{
    width: 100%;
    height: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: url('./data/line.gif');
}

#smallline{
    width: 100%;
    height: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: url('./data/line.gif');
    opacity: 0.35;
}
/* below this line is CSS for the layout */

/* this is a CSS comment
to uncomment a line of CSS, remove the * and the /
before and after the text */


@keyframes horizontal-shaking {
0% { transform: translatey(0) }
25% { transform: translatey(1px) }
50% { transform: translatey(-1px) }
75% { transform: translatey(1px) }
100% { transform: translatey(0) }
}


/* the "container" is what wraps your entire website */
/* if you want something (like the header) to be Wider than
the other elements, you will need to move that div outside
of the container */
#container {
    max-width: 900px;
    /* this is the width of your layout! */
    /* if you change the above value, scroll to the bottom
and change the media query according to the comment! */
    margin: 0 auto;
    /* this centers the entire page */
}

/* the area below is for all links on your page
EXCEPT for the navigation */


#container a {
    color: #ED64F5;
    font-weight: bold;
    /* if you want to remove the underline
you can add a line below here that says:
text-decoration:none; */
}

#header {
    width: 100%;
    /*background-color: #5e4e8c;*/
    /* header color here! */
    height: 180px;
    /* this is only for a background image! */
    /* if you want to put images IN the header, 
you can add them directly to the <div id="header"></div> element! */
    background-image: var(--header-image);
    background-size: 90%;
    background-position: center right;
    background-repeat: no-repeat;
    position: relative;
    animation: horizontal-shaking 0.02s linear infinite;
    filter: drop-shadow(0 0 10px rgb(212, 0, 255)) drop-shadow(0 0 6rem rgb(162, 0, 255)) drop-shadow(0 0 1rem rgba(132, 0, 255, 0.623)) opacity(0.8);
}

#headerObj{
    margin-top: 10px;
    position: relative;
    height: 180px;
    width: 100%;
}

#headerOverlay{
    position: overlay;
    height: 180px;
    width: 100%;
}

/* navigation section!! */
#navbar {
    position: relative;
    height: auto;
    background-color: #13092D;
    /* navbar color */
    width: 100%;
    padding-bottom: 3px;
    padding-top: 0.1px;
}

#navbar ul {
    display: flex;
    padding: 0;
    margin-right: 5px;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}

#navbar li {
    padding-top: 10px;
    padding-left: 10px;
}

/* navigation links*/
#navbar li a {
    color: #ED64F5;
    /* navbar text color */
    font-weight: 800;
    text-decoration: none;
    /* this removes the underline */
    &:after{
        content: " ]";
    }
    &:before{
        content: "[ ";
    }
}

/* navigation link when a link is hovered over */
#navbar li a:hover {
    color: #a49cba;
    text-decoration: underline;
}

#flex {
    display: flex;
}

/* this colors BOTH sidebars
if you want to style them separately,
create styles for #leftSidebar and #rightSidebar */
aside {
    background-size: 100px;
    background-image: url("https://sadhost.neocities.org/images/tiles/bac22.gif");
    background-color: #250036;
    width: 270px;
    padding: 20px;
    font-size: smaller;
    box-shadow: 7px 7px rgb(0, 0, 0, 0.78);
    border: 1px solid black;
    height: auto;
    /* this makes the sidebar text slightly smaller */
}


/* this is the color of the main content area,
between the sidebars! */
main{
    background-color: #250036;
    flex: 1;
    padding: 20px;
    order: 2;
    box-shadow: 10px 10px rgb(0, 0, 0, 0.78);
    border: 1px solid black;
}

/* what's this "order" stuff about??
allow me to explain!
if you're using both sidebars, the "order" value
tells the CSS the order in which to display them.
left sidebar is 1, content is 2, and right sidebar is 3! */

*/ #leftSidebar {
    order: 1;
}

#rightSidebar {
    order: 3;
}

footer {
    background-color: #13092D;
    /* background color for footer */
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    /* this centers the footer text */
}

h1,
h2,
h3 {
    
    color: #ED64F5;
}

h1 {
    font-size: 25px;
    text-shadow: #3a003f80 0px 0px 5px, #9100913b 0px 0px 5px, #d400ff79 0px 0px 10px, #ff2d9681 0px 0px 15px, #ff2d968e 0px 0px 20px, #ff2d9654 0px 0px 25px, #ff2d9663 0px 0px 30px, #ff2d9660 0px 0px 40px;
}

strong {
    /* this styles bold text */
    color: #ED64F5;
}

.innerhome{
    padding: 20px;
    background-color: #0d002e56;
    box-shadow: 0px 0px 11px 5px #0d002e80;
}

.bc1{
    pointer-events: none;
    background-image: url("https://sadhost.neocities.org/images/tiles/num.gif");
    opacity: 0.054;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: exclusion;
    filter: brightness(10);
}

.loading{
    background-color: #08031A;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


.blogbox{
    box-shadow:inset 0px 3px 30px 0px #e100ff63;
    background-color: #13092D;
    border: 1px solid #be54c4be;
    padding: 25px;
    display: block;
    background: transparent;
    backdrop-filter: saturate(5) hue-rotate(20deg) blur(1px);
    background-image: url("https://sadhost.neocities.org/images/tiles/stars4.gif");
    background-size: 100%;
    height: auto;
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.cat{
    box-shadow:inset 0px 2px 15px 0px #e100ff63;
    background-color: #13092D;
    border: 1px solid #be54c4be;
    padding: 15px;
    display: block;
    background: transparent;
    backdrop-filter: saturate(5) hue-rotate(20deg) blur(1px);
    background-image: url("https://sadhost.neocities.org/images/tiles/stars4.gif");
    background-size: 100%;
    height: auto;
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.btn-blog{
    box-shadow:inset 0px 1px 3px 0px #cc00ff;
	background-color:#68005f63;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
	padding:6px 12px;
    border: #9100918a;
}

.timestamp{
    font-size: 14px;
    color: #eb14ff75;
}


.rainbow_text {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 0.7s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.vote{
	display:inline-block;
    margin-top: 10px;
    margin-right: 5px;
}

/* this is just a cool box, it's the darker colored one */
.box2{
    background-image: url("https://sadhost.neocities.org/images/tiles/stars4.gif");
    background-size: 100%;
    height: auto;
    width: auto;
}

.box{
    background-color: #13092D;
    border: 1px solid #ED64F5;
    padding: 10px;
    display: block;
    background: transparent;
    backdrop-filter: saturate(5) hue-rotate(20deg) blur(1px);
}
/* CSS for extras */


#topBar {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: smaller;
    background-color: #13092D;
}


.imgbox{
    width: 400px;
    margin: 10px;
    margin-bottom: 40px;
    background-color: #08031A;
    padding: 20px;
    padding-bottom: 35px;
    border: 1px solid #62009b7c;
    -webkit-box-shadow: inset 13px 10px 49px 1px rgba(96,0,158,0.34), 8px 3px 25px 1px rgba(143,0,158,0.23); 
box-shadow: inset 13px 10px 49px 1px rgba(96,0,158,0.34), 8px 3px 25px 1px rgba(143,0,158,0.23);
    border-radius: 20px;
    text-align: center;
}

.imgboximg{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}


/* BELOW THIS POINT IS MEDIA QUERY */

/* so you wanna change the width of your page? 
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the 
"max-width" value below
*/

@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }


    /* the order of the items is adjusted here for responsiveness!
since the sidebars would be too small on a mobile device.
feel free to play around with the order!
*/
    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #rightSidebar {
        order: 3;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}

.imgadjust{
    width: 25%;
}

@media only screen and (max-width: 1750px) {
    .imgadjust{
        width: 22%;
    }
}

@media only screen and (max-width: 1500px) {
    .bc2{
        display: none;
    }
}